// Method to match the figma design using dynamic units
@function px-to-vw($px, $base-width: 2560) {
  @return ($px / $base-width) * 100 + vw;
}

.keysSpacingContainer {
  height: 43%;
  width: 100%;
  padding: 0 px-to-vw(53);

  .keyCardsContainer {
    width: 100%;
    height: 100%;
    border-radius: px-to-vw(100);
    position: relative;
    padding: px-to-vw(40) px-to-vw(100);
    display: flex;
    flex-direction: column;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0;
      border-radius: inherit;
      background-color: rgba(0, 0, 0, 0.625);
      mix-blend-mode: soft-light;
    }

    .title {
      font-size: px-to-vw(28);
      font-weight: 500;
      color: white;
      line-height: 100%;

      .subtitle {
        color: rgba(255, 255, 255, 0.7);
        font-size: px-to-vw(16);
        font-weight: 400;
      }
    }

    .cardsSpacingContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      margin-top: px-to-vw(40);
    }
  }
}
