.libraryContainer {
    display: grid;
    grid-template-areas: 'nav content';
    grid-template-columns: 15% 85%;
    height: 100vh;
    width: 100vw;
  
    background-image: url('/dash/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    mix-blend-mode: difference;
  
    // stacking context for the blend mode effect
    position: relative;
    z-index: 1;
  
    .navContainer {
      grid-area: nav;
    }
  
    .libContentContainer {
      grid-area: content;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
  }
  