.container {
  width: 100vw;
  height: 10vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  z-index: 2;
  pointer-events: none;

  .logo {
    width: 10vw;
    height: 5vh;
    position: relative;
  }

  .button {
    position: relative;
    width: 8vw;
    height: 4vh;
    color: white;
    pointer-events: all;
    font: bold 24px 'Maven Pro';
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 2vw;
  }
}
