// Method to match the figma design using dynamic units
@function px-to-vw($px, $base-width: 2560) {
  @return ($px / $base-width) * 100 + vw;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: px-to-vw(20);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: inherit;
    background-color: rgba(198, 198, 198, 0.25);
    mix-blend-mode: hard-light;
  }

  .imageContainer {
    border: 1px solid white;
    border-radius: 100%;
    width: px-to-vw(50);
    height: px-to-vw(50);
    position: relative;
    z-index: 1;
  }

  .textContainer {
    color: white;
    z-index: 1;
    font-size: px-to-vw(20);
    font-weight: 500;
    line-height: 110%;

    .textThinner {
      font-size: px-to-vw(18);
      font-weight: 400;
      color: rgba(255, 255, 255, 0.6);
      text-overflow: ellipsis;
    }
  }

  .iconContainer {
    width: px-to-vw(25);
    height: px-to-vw(25);
    position: relative;
    z-index: 1;
  }
}
