.homePage {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;

  .render3d {
    width: 100vw;
    height: 100vh;
  }

  .marquee {
    position: absolute;
    left: 0;
    top: 27vh;
    display: flex;
    overflow: hidden;
    z-index: 2;
    // align text with the starting point of animation
    transform: translate3d(0, 0, 0);
    animation: marquee-text 10s linear infinite;
    // slight delay to make sure the animation doesn't "jump" at the start
    animation-delay: 0.3s;

    .imageContainer {
      position: relative;
      width: 185vw;
      height: 10vh;
    }
  }

  @-moz-keyframes marquee-text {
    0% {
      -moz-transform: translate3d(0, 0, 0);
    }
    100% {
      -moz-transform: translate3d(-50%, 0, 0);
    }
  }

  @-webkit-keyframes marquee-text {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-50%, 0, 0);
    }
  }

  @keyframes marquee-text {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
}
