.dashboardContainer {
  display: grid;
  grid-template-areas: 'nav content';
  grid-template-columns: 15% 85%;
  height: 100vh;
  width: 100vw;

  background-image: url('/dash/BG-blurier.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  // box-shadow: inset 0px 0px 2vw 0.1vw#122e52;

  .navContainer {
    grid-area: nav;
  }

  .dashContentContainer {
    grid-area: content;
  }
}
